.content_size_large {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-width: 1184px;
}

@media screen and (max-width:1200px) {
    .content_size_large {
        min-width: 0;
        position: static;
        transform: none;
    }
}